[user]
	name = Alex Rhea
	email = alex.rhea@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBzIv8zJb0LRrZ4J6cjnqZ9PHLSspktNeDj/6z55Nf91

[commit]
  	gpgsign = true

[gpg]
  	format = ssh

[gpg "ssh"]
  	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = code --new-window --wait

[merge]
	tool = vscode

[mergetool "vscode"]
   cmd = code --new-window --wait $MERGED

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --new-window --wait --diff $LOCAL $REMOTE

[help]
	autocorrect = 1

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[github]
	user = arhea

[http]
	cookiefile = ~/.gitcookies

[credential]
	helper = osxkeychain

[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"

[url "ssh://git@gitlab.com/"]
	insteadOf = "https://gitlab.com/"

[url "ssh://git@bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"

[init]
	defaultBranch = main

[fetch]
	prune = true
