[user]
	name = Alex Rhea
	email = alex.rhea@gmail.com
	signingkey = 49AC8A27507192E9

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = code --new-window --wait

[merge]
	tool = vscode
	squash = true

[mergetool "vscode"]
   cmd = code --new-window --wait $MERGED

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --new-window --wait --diff $LOCAL $REMOTE

[help]
	autocorrect = 1

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[gpg]
  program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true

[github]
	user = arhea

[http]
	cookiefile = ~/.gitcookies

[credential]
	helper = osxkeychain

[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"

[url "ssh://git@gitlab.com/"]
	insteadOf = "https://gitlab.com/"

[url "ssh://git@bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"

[init]
	defaultBranch = main
