[user]
	name = Alex Rhea
	email = alex.rhea@gmail.com
	signingkey = DED3213137663B92

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = code --wait

[merge]
    tool = vscode
	log = true

[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[help]
	autocorrect = 1

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[gpg]
  program = /usr/local/bin/gpg

[commit]
	gpgsign = true

[github]
	user = arhea

[http]
	cookiefile = ~/.gitcookies

[credential]
	helper = osxkeychain

[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"

[url "ssh://git@gitlab.com/"]
	insteadOf = "https://gitlab.com/"

[url "ssh://git@bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"
